# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=secret
POSTGRES_DB=insight_db
POSTGRES_HOST=db

# AI & LLM Configuration
MODEL_NAME=qwen2.5-coder:3b
OLLAMA_BASE_URL=http://host.docker.internal:11434

# Vector Store (Qdrant)
QDRANT_HOST=qdrant
QDRANT_PORT=6333